package templates

templ Index(name string) {
	<div class="flex flex-col items-center mt-5 max-w-4xl">
	    <h1 class="text-2xl">Welkom {name}</h1>
	    <p class="mt-5 text-justify">Dit is de enige echte website van de Corbeez. Voor nu wordt deze site gebruikt om te stemmen op De Mol. Stemmen doe je op de Mol pagina bovenaan de pagina. Elke week kies je de kandididaat die jij denkt dat de mol is. Wie aan het einde van het programma het meest op de mol heeft gestemd, neemt de cash prijs van €60 mee naar huis. In geval van een ex aequo wint degene die als eerst correct op de mol heeft gestemd</p>
	</div>
}

templ GuestIndex() {
	<div class="flex flex-col items-center mt-5">
	    <h1 class="text-2xl">Welkom op de Corbeez site</h1>
	    <p class="">Log in om meer te zien</p>
	</div>
}
