package templates

templ Index(name string) {
	<div class="flex flex-col items-center mt-5">
	    <h1 class="text-2xl">Welkom {name}</h1>
	    <p class="">Ja er is nog niet zo veel</p>
	</div>
}

templ GuestIndex() {
	<div class="flex flex-col items-center mt-5">
	    <h1 class="text-2xl">Welkom op de Corbeez site</h1>
	    <p class="">Log in om meer te zien</p>
	</div>
}
