package templates

import (
	"goth/internal/middleware"
)

templ header(title string) {
    <!DOCTYPE html>
	<head>
		<title>{ title }</title>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="/static/script/htmx.min.js"></script>
		<script src="/static/script/response-targets.js"></script>
		<link rel="stylesheet" href="/static/css/style.css"/>
	</head>
}

templ footer() {
	<footer class="bg-primary-600 p-4"></footer>
}

templ nav() {
	<nav class="bg-primary-600 p-4">
		<div class="container flex justify-between max-w-4xl mx-auto">
			<ol class="flex space-x-4">
				<li>
					<a class="text-gray-200" href="/">Home</a>
				</li>
				if middleware.GetUser(ctx) != nil {
                    <li>
                        <a class="text-gray-200" href="/poll">Mol</a>
                    </li>
                }
			</ol>
			<ol class="flex space-x-4">
				if middleware.GetUser(ctx) != nil {
					<li>
						<button class="text-gray-200" hx-target="body" hx-swap="innerHTML" hx-post="/logout">Logout</button>
					</li>
				} else {
					<li>
						<a class="text-gray-200" href="/login">Login</a>
					</li>
				}
			</ol>
		</div>
	</nav>
}

templ Layout(contents templ.Component, title string) {
	@header(title)
	<body class="flex flex-col h-screen">
		@nav()
		<main class="flex flex-grow flex-col items-center">
			@contents
		</main>
		@footer()
	</body>
}
