package templates

templ Login() {
	<div hx-ext="response-targets">
		<form
			hx-post="/login"
			hx-trigger="submit"
			hx-target-401="#login-error"
            class="flex flex-col items-center mt-10"
		>
            <label for="name">Naam</label>
            <input
                type="text"
                name="name"
                id="name"
                placeholder="Naam"
                required=""
                autocomplete="name"
                class="rounded-full mb-5"
            />
            <label for="password">Paswoord</label>
            <input
                type="password"
                name="password"
                id="password"
                placeholder="••••••••"
                required=""
                autocomplete="current-password"
                class="rounded-full mb-5"
            />
			<button type="submit" class="p-2 border-2 w-30 border-blue-600 rounded-full hover:bg-slate-100">
				Inloggen
			</button>
			<div id="login-error" class="text-red-600"></div>
		</form>
	</div>
}

templ LoginError() {
	<p>Foute naam of paswoord</p>
}
