package templates

import (
    "goth/internal/store"
    "fmt"
)

templ Poll(poll *store.Poll, voted bool) {
    <div class="mx-auto max-w-4xl mt-5 h-full">
        <div class="text-2xl mx-auto text-center"> { poll.Title } </div>
        <div class="text-lg mx-auto text-center"> Stem voor zondag 20:00 </div>
        
        <br>
        if voted{
            <div class="text-center">Stem opgeslagen</div>
            <div class="mx-auto flex justify-center">
                <button type="button" class="self-center mx-auto mb-5 mt-10 border-white border p-1 px-5 rounded-full hover:bg-stone-700 hover:cursor-pointer"
                    hx-delete={ fmt.Sprintf("/poll/%d", poll.ID) }
                    hx-confirm="Stem verwijderen?"
                    hx-target="body"
                    hx-swap="outerHTML"
                    >
                    Stem aanpassen
                </button>
            </div>
            <div 
                hx-trigger="load"
                hx-swap="outerHTML"
                hx-get={ fmt.Sprintf("/poll/%d/votes", poll.ID) }
                >
            </div>
        }else {
            <form class="w-full flex flex-col items-center"
                hx-post={ fmt.Sprintf("/poll/%d", poll.ID) }
                hx-trigger="submit"
                hx-target="body"
                hx-swap="outerHTML"
                >
                <div class="flex flex-row flex-wrap justify-between mx-auto px-4">
                for _, option := range poll.Options {
                    <div class="w-40 h-full mb-5 flex flex-col items-center group">
                        <label for={ fmt.Sprintf("%d", option.ID) }>
                            <div class="w-40 h-45 rounded-xl overflow-clip border-3 border-transparent group-has-checked:border-blue-600">
                                <img src={fmt.Sprintf("%s", option.Image)}
                                    class="w-full h-full object-cover"
                                />
                            </div>
                            <div class="text-center">{ option.Option }</div>
                        </label>
                        <input type="radio" 
                            name="option" 
                            value={ fmt.Sprintf("%d", option.ID) } 
                            id={ fmt.Sprintf("%d", option.ID) }>
                    </div>
                }
                </div>
                <input type="submit" value="Stem" class="self-center mx-auto mb-5 mt-10 border-white border p-1 px-5 rounded-full hover:bg-stone-700 hover:cursor-pointer">
            </form>
        }
    </div>
}

templ Votes(poll *store.Poll, votes map[uint]int, maxCount int){
    <div class="mx-auto w-screen px-10 overflow-x-scroll md:max-w-4xl h-80 flex flex-row flex-nowrap space-x-5">
    for _, option := range poll.Options {
        {{ 
            count := votes[option.ID] 
            perc := 0
            if maxCount > 0{
                perc = (100*count)/maxCount
            }

        }}

        <div class="flex flex-col items-end">
            <div class="flex-1 w-4 self-center">
                <div class="" style={ fmt.Sprintf("height: %d%%", 100-perc) }></div>
                <div class="bg-blue-600 rounded-full" style={ fmt.Sprintf("height: %d%%", perc) }></div>
            </div>
            <div class="text-center">{ option.Option } { count }</div>
        </div>
    }
    </div>
}
